/* Container Principal da página */
.containerMain {
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container Title Processo  */
.containerContent {
  width: 100%;
  margin-top: 40px;
  background-color: #1c2848;
  color: #fff;
  padding: 20px;
  border-radius: 12px;
}

.containerTitleProcess {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.containerButtonAddProcess {
  padding: 10px;
  width: 130px;
  border: none;
  background-color: #fff;
  border-radius: 5px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btnAddProcess {
  background-color: transparent;
  border: none;
  font-size: 0.875 rem;
  font-weight: 700;
}

/* Container Processos de Otimização */
.containerProcess {
  width: 100%;
  margin-top: 20px;
  display: flex;
  gap: 20px;
  justify-content: start;
  align-items: start;
}
.containerProcessCard {
  border-radius: 12px;
  border: 0.142px solid #0b1739;
  background: rgba(0, 0, 0, 0.37);
  box-shadow: 0px 0.945px 0.945px 0px rgba(0, 0, 0, 0.25);
  width: 33%;
  padding: 10px;
}

.containerProcessCardTitle {
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 1000px;
  background: rgba(72, 72, 72, 0.39);
  padding: 2px 10px;
  width: fit-content;
}

.titleTypeProcess {
  font-size: 0.875rem;
  font-weight: 700;
  color: #fff;
}

.circleSvg {
  width: 7px;
  height: 7px;
  flex-shrink: 0;
  border-radius: 80px;
  background: #a7a7a7;
}

.cardButtonAdd {
  padding: 15px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
  border: 1px solid rgba(122, 122, 122, 0.35);
}

.cardButtonAdd button {
  color: #7a7a7a;
  font-size: 0.875rem;
  font-weight: 600;
}
